$font-sans-serif: "Josefin Sans", "Helvetica Neue", arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-serif: "Courier Prime", monospace, serif;
$font-size-header-big: 34px;
$font-size-sub-header-big: 20px;
$font-size-big-logo: 28px;
$font-size-header: 24px;
$font-size-sub-header: 18px;
$font-size-text: 18px;
