@media (min-width: $big-min) {
  /* do not use this class outside of a big screen query */
  .big-screen-grid {
    display: grid;
  }

  .big-screen-grid--three-columns {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
  }

  .big-screen-grid--two-columns {
    grid-template-columns: 1fr 2fr;
    align-items: center;
    column-gap: 10px;
  }

  .big-screen-grid.animate {
    opacity: 0;
  }

  .big-screen-grid.animate.intersected {
    opacity: 1;
    animation: appearFormRight 0.5s ease-in-out;
  }
}
